<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-top: -22px;">
  <a class="navbar-brand" href="#">EmployeeManager</a>
  <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
          class="navbar-toggler"
          data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="onOpenModal(null, 'add')"  href="#">Add Employee <span
          class="sr-only">(current)</span></a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input (ngModelChange)="searchEmployees(key.value)" #key="ngModel" ngModel name="key" aria-label="Search" class="form-control mr-sm-2" id="searchName" placeholder="Search" type="search">
    </form>
  </div>
</nav>

<div class="container" id="main-container">
  <div class="row">
    <div *ngFor="let employee of employees" class="col-md-6 col-xl-3">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img alt="" class="img-fluid rounded-circle w-60" src="{{ employee.imageUrl }}"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h5>{{ employee?.name }}</h5>
            <p class="m-0">{{ employee?.jobTitle }}</p>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a
            href="#">{{ employee?.email }}</a></li>
          <li class="list-group-item"><i class="fa fa-phone float-right"></i>Phone : {{ employee?.phone }}</li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a (click)="onOpenModal(employee, 'edit')" class="btn btn-primary tooltips" data-original-title="Edit" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-pencil"></i> </a>
            <a (click)="onOpenModal(employee, 'delete')" class="btn btn-secondary tooltips" data-original-title="Delete" data-placement="top" data-toggle="tooltip" href="#"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--    Add Employee Modal -->
<div aria-labelledby="addEmployeeModalLabel" class="modal fade" id="addEmployeeModal" role="dialog" tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addEmployeeModalLabel">Add Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #addForm="ngForm" (ngSubmit)="onAddEmployee(addForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" id="name" ngModel name="name" placeholder="Name" required type="text">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" id="email" ngModel name="email" placeholder="Email" required type="text">
          </div>
          <div class="form-group">
            <label for="jobTitle">Job Title</label>
            <input class="form-control" id="jobTitle" ngModel name="jobTitle" placeholder="Job title" required type="text">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" id="phone" ngModel name="phone" placeholder="Phone" required type="text">
          </div>
          <div class="form-group">
            <label for="phone">Image</label>
            <input class="form-control" id="imageUrl" ngModel name="imageUrl" placeholder="Image url" required type="text">
          </div>
          <div class="modal-footer">
            <button type="button" id="add-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--    Edit Employee Modal -->
<div aria-labelledby="updateEmployeeModalLabel" class="modal fade" id="updateEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="updateEmployeeModalLabel">Edit Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <form #editForm="ngForm">
          <div class="form-group">
            <label for="name">Name</label>
            <input aria-describedby="emailHelp" ngModel="{{ editEmployee?.name }}" class="form-control" id="name" name="name" placeholder="Name"
                   required type="text">
          </div>
          <div class="form-group">
            <label for="email">Email Address</label>
            <input class="form-control" ngModel="{{ editEmployee?.email }}" id="email" name="email" placeholder="Email" required type="text">
          </div>
          <input class="form-control" ngModel="{{ editEmployee?.id }}" id="id" name="id" placeholder="Email" type="hidden">
          <input class="form-control" ngModel="{{ editEmployee?.employeeCode }}" id="employeeCode" name="employeeCode" placeholder="Email" type="hidden">
          <div class="form-group">
            <label for="jobTitle">Job title</label>
            <input class="form-control" ngModel="{{ editEmployee?.jobTitle }}" id="jobTitle" name="jobTitle" placeholder="Job Title" required type="text">
          </div>
          <div class="form-group">
            <label for="phone">Phone</label>
            <input class="form-control" ngModel="{{ editEmployee?.phone }}" id="phone" name="phone" placeholder="Phone" required type="text">
          </div>
          <div class="form-group">
            <label for="phone">Image</label>
            <input class="form-control" ngModel="{{ editEmployee?.imageUrl }}" id="imageUrl" name="imageUrl" placeholder="Image url" required type="text">
          </div>
          <div class="modal-footer">
            <button type="button" id="edit-employee-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button (click)="onUpdateEmployee(editForm.value)" type="submit" class="btn btn-primary">Save changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!--    Delete Employee Modal -->
<div aria-labelledby="deleteEmployeeModalLabel" class="modal fade" id="deleteEmployeeModal" role="dialog"
     tabindex="-1">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteEmployeeModalLabel">Delete Employee</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button"><span
          aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to delete employee {{ deleteEmployee?.name }}?</p>
        <div class="modal-footer">
          <button class="btn btn-secondary" id="delete-employee-form" data-dismiss="modal" type="button">No</button>
          <button (click)="onDeleteEmployee(deleteEmployee?.id)" class="btn btn-danger" type="button">Yes</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!--    Notification for no employee -->
<div class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO EMPLOYEES!</h4>
    <p>No Employees were found.</p>
  </div>
</div>
